<div class="col-md-12 cron-section">


    <!-- <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.hours)"
        toggle-active>
            <input type="radio" name="day"/>
            <span class="label-text">At</span>
            <input type="text" class="recurrence-text" ng-model="ctrl.hours.start">
            <span>:00 hour(s)</span>
    </label> -->

    <!-- <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.date)"
        toggle-active>
            <input type="radio" name="day"/>
            <span class="label-text">From</span>
            <input type="text" class="recurrence-text" ng-model="ctrl.date.start">
            <span class="label-text">to</span>
            <input type="text" class="recurrence-text" ng-model="ctrl.date.end">
    </label> -->

    <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.date)"
        toggle-active
        graphic-module>
            <input type="radio" name="day"/>
            <span class="label-text">Every</span>
            <input
                type="text" maxlength="2"
                class="recurrence-text double-digit"
                check-radio-btn
                ng-model="ctrl.date.value"
                ng-click="ctrl.onClickSelect($event)">
            <span>day(s)</span>
    </label>

    <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.dow)"
        toggle-active
        graphic-module>
            <input type="radio" name="day" ng-model="ctrl.dow.value" ng-value="'1,2,3,4,5'"/>
            <span class="label-text">Every weekday</span>
    </label>

    <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.dow)"
        toggle-active
        graphic-module>
            <input type="radio" name="day" ng-model="ctrl.dow.value" ng-value="'0,6'"/>
            <span class="label-text">Every weekend</span>
    </label>




<!--         <div class="col-md-5" id="days" data-state="active">
            <div class="cell-block">
                <button class="js-days cell cell-day" data-state="normal" ng-repeat="days in ctrl.days" toggle-selected add-to-selected>
                    {{days}}
                </button>
            </div>
        </div>

        <div class="col-md-5" id="dow" data-state="hidden">
            <div class="cell-block">
                <button class="js-dow cell cell-dow" data-state="normal" ng-repeat="dow in ctrl.dow" toggle-selected add-to-selected>
                    {{dow.name}}
                </button>
            </div>
        </div> -->


</div>