<div class="col-md-12 cron-section">


    <label
        class="radio-btn options"
        data-state="normal"
        toggle-active>
            <input type="radio" name="hour"/>
            <span class="label-text">Every</span>
            <input
                type="text"
                maxlength="2"
                class="recurrence-text double-digit"
                check-radio-btn
                ng-model="ctrl.hours.recurrent"
                ng-click="ctrl.onClickSelect($event)">
            <span>hour(s)</span>
    </label>

    <label
        class="radio-btn options"
        data-state="normal"
        toggle-active>
            <input type="radio" name="hour"/>
            <span class="label-text">From</span>
            <input
                type="text"
                maxlength="2"
                class="recurrence-text double-digit"
                check-radio-btn
                ng-model="ctrl.hours.start"
                ng-click="ctrl.onClickSelect($event)">
            <span>: 00 </span>
            <span>to </span>
            <input
                type="text"
                maxlength="2"
                class="recurrence-text double-digit"
                check-radio-btn
                ng-model="ctrl.hours.end"
                ng-click="ctrl.onClickSelect($event)">
            <span>: 00 hours</span>
    </label>

</div>