<div class="col-md-12 cron-section">
    <div class="row">
        <div class="col-md-7">
            <div class="radio-select" data-state="active" toggle-active>
                <span>Day</span>
                <input type="text" class="recurrence-text" ng-model="ctrl.dowRecurrence" select-each>
                <span>of every</span>
                <input type="text" class="recurrence-text" ng-model="ctrl.dowRecurrence" select-each>
                <span>month(s)</span>
            </div>
            <div class="radio-select" data-state="normal" toggle-active>
                <span>The </span>
                <div class="radio-select-dropdown">
                    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        fourth
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">First</a></li>
                        <li><a href="#">Second</a></li>
                        <li><a href="#">Third</a></li>
                        <li><a href="#">Fourth</a></li>
                        <li><a href="#">Last</a></li>
                    </ul>
                </div>
                <div class="radio-select-dropdown">
                    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Monday
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">Day</a></li>
                        <li><a href="#">Sunday</a></li>
                        <li><a href="#">Monday</a></li>
                        <li><a href="#">Tuesday</a></li>
                        <li><a href="#">Wednesday</a></li>
                        <li><a href="#">Thursday</a></li>
                        <li><a href="#">Friday</a></li>
                        <li><a href="#">Saturday</a></li>
                    </ul>
                </div>
                <span>of every</span>
                <input type="text" class="recurrence-text" ng-model="ctrl.dowRecurrence" select-each>
                <span>month(s)</span>
            </div>
        </div>

        <div class="col-md-5">
            <div class="cell-block">
                <button class="cell cell-day" data-state="normal" ng-repeat="days in ctrl.days" toggle-selected add-to-selected>
                    {{days}}
                </button>
            </div>
            <div class="cell-block">
                <button class="cell cell-month" data-state="normal" ng-repeat="months in ctrl.months" toggle-selected add-to-selected>
                    {{months.name}}
                </button>
            </div>
        </div>
    </div>
</div>