<div class="col-md-12 cron-section">
    <div class="radio-select" data-state="active" toggle-active>
        <span>Day</span>
        <input type="text"
            class="recurrence-text"
            ng-model="ctrl.dailyRecurrence"
            select-each="{{ctrl.dailyRecurrence}}"
            data-cronpiece="days">
        <span>of every</span>
        <input type="text"
            class="recurrence-text"
            ng-model="ctrl.monthlyRecurrence"
            select-each="{{ctrl.monthlyRecurrence}}"
            data-cronpiece="months">
        <span>month(s)</span>
    </div>
    <div class="radio-select" data-state="normal" toggle-active>
        <span>The </span>
        <div class="radio-select-dropdown">
            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                fourth
                <span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li><a href="#">first</a></li>
                <li><a href="#">second</a></li>
                <li><a href="#">third</a></li>
                <li><a href="#">fourth</a></li>
            </ul>
        </div>
        <span>day of every</span>
        <input type="text"
            class="recurrence-text"
            ng-model="ctrl.monthlyRecurrence"
            select-each="{{ctrl.monthlyRecurrence}}"
            data-cronpiece="months">
        <span>month(s)</span>
    </div>

        <!-- <div class="col-md-5">
            <div class="cell-block">
                <button class="js-days cell cell-day" data-state="normal" ng-repeat="days in ctrl.days" toggle-selected add-to-selected>
                    {{days}}
                </button>
            </div>
            <div class="cell-block">
                <button class="js-months cell cell-month" data-state="normal" ng-repeat="months in ctrl.months" toggle-selected add-to-selected>
                    {{months.name}}
                </button>
            </div>
        </div> -->
</div>