<div class="col-md-12 cron-section">

    <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.date, ctrl.months)"
        toggle-active>
            <input type="radio" name="month"/>
            <span class="label-text">Day</span>
            <input
                type="text"
                maxlength="2"
                class="recurrence-text double-digit"
                check-radio-btn
                ng-model="ctrl.date.value"
                ng-click="ctrl.onClickSelect($event)">
            <span>of every</span>
            <input
                type="text"
                maxlength="2"
                class="recurrence-text double-digit"
                check-radio-btn
                ng-model="ctrl.months.value"
                ng-click="ctrl.onClickSelect($event)">
            <span>month(s)</span>
    </label>


    <!-- 0 0 1-7 * 6 -->
    <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.date, ctrl.months, ctrl.dow)"
        toggle-active>
            <input type="radio" name="month"/>
            <span class="label-text">The</span>
            <div class="radio-select-dropdown" check-radio-btn>
                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ ctrl.selectedOrdinal.label }}
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li ng-repeat="ordinal in ctrl.ordinalNumbers">
                        <a href="#" ng-click="ctrl.selectOrdItem(ordinal)">{{ ::ordinal.label }}</a>
                    </li>
                </ul>
            </div>
            <div class="radio-select-dropdown" check-radio-btn>
                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ ctrl.selectedDOW.label }}
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li ng-repeat="day in ctrl.daysOfWeek">
                        <a href="#" ng-click="ctrl.selectDOW(day)">{{ ::day.label }}</a>
                    </li>
                </ul>
            </div>

            <span>of every</span>
            <input
                type="text"
                maxlength="2"
                class="recurrence-text double-digit"
                check-radio-btn
                ng-model="ctrl.months.value"
                ng-click="ctrl.onClickSelect($event)">
            <span>month(s)</span>
    </label>
</div>