<div class="col-md-12 cron-section">
    <label
        class="nav-btn"
        data-state="normal"
        toggle-active
        switch-panel="days">
            <input type="radio" name="nav"/><span class="label-text">Daily</span>
    </label>
    <label
        class="nav-btn"
        data-state="active"
        toggle-active
        switch-panel="">
            <input type="radio" name="nav" ng-model="::ctrl.checked" ng-value="true"/><span class="label-text">Weekly</span>
    </label>
    <label
        class="nav-btn"
        data-state="normal"
        toggle-active
        switch-panel="">
            <input type="radio" name="nav"/><span class="label-text">Monthly</span>
    </label>
    <label
        class="nav-btn"
        data-state="normal"
        toggle-active
        switch-panel="">
            <input type="radio" name="nav"/><span class="label-text">Advanced</span>
    </label>
</div>