<div class="col-md-12 cron-section">
    <button
        type="button"
        class="options-btn btn-block"
        data-state="normal"
        toggle-active
        switch-panel="daysSection">
        Daily
    </button>
    <button
        type="button"
        class="options-btn btn-block"
        data-state="active"
        toggle-active
        switch-panel="dowSection">
        Weekly
    </button>
    <button
        type="button"
        class="options-btn btn-block"
        data-state="normal"
        toggle-active
        switch-panel="monthsSection">
        Monthly
    </button>
</div>