<div class="col-md-12 cron-section">
    <!-- <div class="radio-select" data-state="active" toggle-active>
        <span>Every</span>
        <input type="text"
            class="recurrence-text"
            ng-model="ctrl.weeklyRecurrence"
            select-each="{{ctrl.dailyRecurrence * 7}}">
        <span>week(s) on:</span>
    </div> -->

<!--     <div class="radio-select" data-state="active" toggle-active>
        <span>Every</span>
        <input type="text" class="recurrence-text" ng-model="ctrl.weeks.value" ng-click="ctrl.setState(ctrl.weeks)">
        <span>week(s)</span>
    </div> -->

    <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.weeks)"
        toggle-active>
            <input type="radio" name="weeks"/>
            <span class="label-text">Every</span>
            <input
                type="text"
                class="recurrence-text"
                check-radio-btn
                ng-model="ctrl.weeks.value"
                ng-click="ctrl.onClickSelect($event)">
            <span>week(s)</span>
    </label>

    <label
        class="radio-btn options"
        data-state="normal"
        ng-click="ctrl.setState(ctrl.dow)"
        toggle-active>
            <input type="radio" name="weeks"/>
            <span class="label-text">Every week on:</span>
    </label>

</div>
