body {
    font-size: 12px;
}

.hidden {
    display: none;
}

h1, h2, h3, h4, p {
    text-align: center;
}

[class^="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}


button:focus, button:active {
    outline: none !important;
}

button[data-state=active] {
    background-color: #5bc0de;
    color: #fff !important;
}

.options-btn {
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 0;
}

.options-btn:hover {
    background-color: #666;
    color: #fff;
}

.modal-dialog {
    width: 1000px;
}

.modal-body {
    padding: 25px;
}

.cron-section {
    background-color: #eee;
}

.well {
    padding-right: 0;
    padding-left: 0;
}

.cell {
    display: inline-block;
    width: 25%;
    padding: 2px 5px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
}
.cell:hover {
    background-color: #f5f5f5;
}

.cell[data-state=active] {
    background-color: #5cb85c;
    color: #fff;
}

.cell[data-state=active]:hover {
    background-color: #449d44;
    color: #fff;
}



.cell-block {
    height: 364px;
    margin-bottom: 20px;
}

.cell-hour {
    width: 50%;
}

.cell-day {
    width: 50%;
}

.cell-month {
    width: 100%;
}

.cell-dow {
    width: 100%;
}
