/*body {
    font-size: 16px;
}*/


.hidden {
    display: none;
}

h1, h2, h3, h4, p {
    text-align: center;
}

p {
    text-align: left;
}

hr {
    margin-bottom: 0;
}


input:focus, input:active, button:focus, button:active {
    outline: none !important;
}



.radio-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 0 0 5px 0;
    line-height: 28px;
    font-weight: normal;
}

.radio-btn:hover {
    background-color: #ccc;
}

.radio-btn[data-state=active] {
    background-color: #ddd;
    /*color: #fff !important;*/
    position: relative;
    /*border-bottom: 1px solid #5bc0de;*/
}

.radio-btn[data-state=active]::after {
    content: " ";
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #eee;
    position: absolute;
    right: -35px;
    top: 7px;
}

.radio-btn .label-text {
    margin-left: 10px;
}

.modal-dialog {
    width: 1000px;
}

.check-btn {
    display: block;
    font-weight: normal;
}

.cron-section {
    background-color: #eee;
    padding: 20px;
    min-height: 140px;
}

[data-state=hidden] {
    display: none;
}

[data-state=active] {
    display: block;
}

.recurrence-text {
    background: transparent;
    border: none;
    border-bottom: 1px solid #666;
    width: 40px;
    text-align: center;
}

.cell-block {
    /*margin: 20px auto;*/
    width: 260px;
}


.cell {
    display: inline-block;
    /*width: 25%;*/
    padding: 5px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
}
.cell:hover {
    background-color: #f5f5f5;
}

.cell[data-state=active] {
    background-color: #5cb85c;
    color: #fff;
}

.cell[data-state=active]:hover {
    background-color: #449d44;
    color: #fff;
}

.cell-hour {
    width: 50%;
}

.cell-day {
    width: 14%;
}

.cell-month {
    width: 33%;
}

.cell-dow {
    width: 33%;
}
/*
.radio-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

.radio-select[data-state=active] {
    background-color: #5bc0de;
    color: #fff;
}

.radio-select[data-state=active] input {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.radio-select[data-state=normal]:hover {
    background-color: #666;
    color: #fff;
}

.radio-select[data-state=normal] input {
    color: #111;
}

.radio-select[data-state=normal]:hover input {
    border-bottom: 1px solid #fff;
    color: #fff;
}*/

.radio-select-dropdown {
    display: inline-block;
    border-bottom: 1px solid #666;
    position: relative;
    margin: auto 5px;
}

.dropdown-menu {
    min-width: auto;
}

.dropdown-menu > li > a {
    padding: 3px 10px;
}

.advanced-cron {
    font-size: 40px !important;
    text-align: center;
    padding: 30px !important;
}

.double-digit {
    width: 20px;
}